<form>
    <h2>Send us a query</h2>
    <label>Name</label><input type="text" name="name">
    <label>email</label><input type="text" name="email">
    <label>Query</label><input type="textarea" name="query">
    <input type="submit">
    <h2>Give us a call</h2>
    <ul>
        <li>+1-934 543 5667</li>
        <li>+1-646 353 4568</li>
    </ul>
    <h2>Mail us</h2>
    <ul>
        <li>support@abc.com</li>
        <li>query@abc.com</li>
    </ul>

</form>